/* Ensure the navbar takes full width and is above other elements */
.Nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure the navbar is above other content */
}

@media (min-width: 769px) {
  .DropdownMenu {
    display: flex; /* Display menu items as a row on larger screens */
    position: static; /* Remove absolute positioning */
    top: auto; /* Remove top positioning */
    right: auto; /* Remove right positioning */
    background: transparent; /* No background */
    border: none; /* Remove border */
    box-shadow: none; /* Remove shadow */
  }
}
